<div id="inlineEditWrapper">

  <!-- editable value -->
  <a (click)="edit(value)" class="c-inline-editor" [hidden]="editing">{{ value }}</a>

  <!-- inline edit form -->
  <form  #inlineEditForm="ngForm" class="c-inline-editor inlineEditForm" (ngSubmit)="onSubmit(value)" [hidden]="!editing">
    <div class="form-group">

      <!-- inline edit control  -->
      <input #inlineEditControl class="c-inline-editor form-control" name="value" [(ngModel)]="value"/>

      <!-- inline edit save and cancel buttons -->
      <span>
          <button type="submit" class="btn btn-info"><span><i class="fa fa-check"></i></span></button>
          <button type="button" class="btn btn-danger" (click)="cancel();$event.preventDefault();"><span><i class="fa fa-remove"></i></span></button>
      </span>

    </div>
  </form>
</div>
