<div class="container bootstrap snippet">
    <!-- List of All Employees  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table employees-list">
                            <thead>
                            <tr>
                                <th colspan="6" class="text-center">
                                    <h3>Employees List</h3>
                                </th>
                            </tr>
                            <tr>
                                <th><span>Index</span></th>
                                <th><span>Name</span></th>
                                <th><span>Surname</span></th>
                                <th><span>Birthday</span></th>
                                <th><span>Job Title</span></th>
                                <th class="text-right"><span>Operations</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="5"></td>
                                <td style="width: 20%;" class="text-right">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" (click)="openModal(template)">
                                        Create New Employee
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let employee of employees; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>
                                    <inline-edit [(ngModel)]="employees[i].name" (onSave)="saveEditable($event, 'name', i)"></inline-edit>
                                </td>
                                <td>
                                    <inline-edit [(ngModel)]="employees[i].surname" (onSave)="saveEditable($event, 'surname', i)"></inline-edit>
                                </td>
                                <td>
                                    <inline-edit [(ngModel)]="employees[i].dateOfBirth" (onSave)="saveEditable($event, 'dateOfBirth', i)"></inline-edit>
                                </td>
                                <td>
                                    <inline-edit [(ngModel)]="employees[i].jobTitle" (onSave)="saveEditable($event, 'jobTitle', i)"></inline-edit>
                                </td>
                                <td style="width: 20%;" class="text-right">
                                    <!-- Show Edit Employee Form  -->
                                    <button class="btn btn-info" (click)="showEditEmployeeForm(employee, template)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <!-- Remove Employee  -->
                                    <button class="btn btn-danger" (click)="removeEmployee(employee)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <alert></alert>
    <!-- Modal Template of New Employee Form -->
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Create New Employee</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmitEmployeeForm(employeeForm)" novalidate>
                <input type="hidden" name="_id" formControlName="_id">
                <p> Is "myForm" valid? {{ employeeForm.valid }} </p>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name" required minlength="2" maxlength="32">
                    <show-errors [control]="employeeForm.controls.name"></show-errors>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="surname" formControlName="surname" placeholder="Surname" required minlength="2" maxlength="32">
                    <show-errors [control]="employeeForm.controls.surname"></show-errors>
                </div>
                <div class="form-group">
                    <datetime [timepicker]="false" [datepicker]="datepickerOpts" formControlName="dateOfBirth" required date></datetime>
                    <show-errors [control]="employeeForm.controls.dateOfBirth"></show-errors>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="jobTitle" formControlName="jobTitle" placeholder="Job title" required minlength="2" maxlength="32">
                    <show-errors [control]="employeeForm.controls.jobTitle"></show-errors>
                </div>
                <show-errors [control]="employeeForm"></show-errors>
                <button type="submit" class="btn btn-default" [disabled]="employeeForm.invalid || employeeForm.pending">Save</button>
            </form>
        </div>
    </ng-template>
</div>
